{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="lang_`$language`.custom"}
{strip}
	{if isset($box_ADMIN)}{$box_ADMIN}{/if}

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="container">

			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<span class="navbar-brand w-50">
				<a title="{#link_index#} &bull; {$store_name}" href="{$index}">
					<img class="img-fluid" src="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}templates/tpl_modified_bs4/img/logo_head.png" alt="{#link_index#} &bull; {$store_name}">
				</a>
				{if isset($box_LANGUAGES) && $box_LANGUAGES != ''}<span class="languages">{$box_LANGUAGES}</span>{/if}
			</span>

			<div class="collapse navbar-collapse flex-column" id="navbarHeader">
				<div class="d-flex flex-wrap">
					<ul class="navbar-nav justify-content-end w-100">
						{if isset($account)}
							<li class="nav-item"><a class="nav-link" href="{$account}">{#link_account#}</a></li>
						{/if}
						{if isset($smarty.session.customer_id)}
							<li class="nav-item"><a class="nav-link" href="{$logoff}">{#link_logoff#}</a></li>
						{else}
							<li class="nav-item"><a class="nav-link" href="{$create_account}">{#new_customer#}</a></li>
							<li class="nav-item"><a class="nav-link" href="{$login}">{#link_login#}</a></li>
						{/if}
					</ul>
					{if isset($box_SEARCH)}{$box_SEARCH}{/if}
				</div>
			</div>
			
		</div>
	</nav>


	<div class="container">
		<div class="row">
			{if isset($home) && $home == true}
				<div class="col-md-18 push-md-6">
					<div class="navbar navbar-toggleable-md navbar-light bg-faded navbarContent" role="navigation">
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul class="navbar-nav d-flex w-100 justify-content-start"> 
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">{#link_contact#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=4'}">{#link_imprint#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$checkout}">{#link_checkout#}</a>
								</li>
								{if isset($box_CART)}{$box_CART}{/if}
								{if isset($box_WISHLIST)}{$box_WISHLIST}{/if}
							</ul>
						</div>
					</div>

					{if isset($SLIDER)}
						<div class="content_banner">
							<ul class="bxcarousel_slider">
								{foreach $SLIDER as $s}
									<li>{$s.IMAGE}</li>
								{/foreach}
							</ul>
						</div>
					{/if}

					{if isset($BANNER)}
						<div class="content_banner">{$BANNER}</div>
					{/if}

					{if isset($main_content)}
						{$main_content}
					{/if}

					{if isset($box_BESTSELLERS)}
						{$box_BESTSELLERS}
					{/if}
				</div>

				{* ENDE col_right *}

				<div class="col-md-6 pull-md-18">
					{if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
					{if isset($box_ADD_QUICKIE)}{$box_ADD_QUICKIE}{/if}
					{if isset($box_LOGIN)}{$box_LOGIN}{/if}
					{if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}
					{if isset($box_SPECIALS)}{$box_SPECIALS}{/if}
					{if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}
					{if isset($box_REVIEWS)}{$box_REVIEWS}{/if}
					{if isset($box_MANUFACTURERS)}{$box_MANUFACTURERS}{/if}
					{if isset($box_MANUFACTURERS_INFO)}{$box_MANUFACTURERS_INFO}{/if}
					{if isset($box_CURRENCIES)}{$box_CURRENCIES}{/if}
					{if isset($box_HISTORY)}{$box_HISTORY}{/if}
					{if isset($box_TRUSTEDSHOPS)}{$box_TRUSTEDSHOPS}{/if}
				</div>

				{* ENDE col_left *}

			{elseif isset($fullcontent) && $fullcontent == true}
				<div class="col-md-24">
					<div class="navbar navbar-toggleable-md navbar-light bg-faded navbarContent" role="navigation">
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul class="navbar-nav d-flex w-100 justify-content-start"> 
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">{#link_contact#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=4'}">{#link_imprint#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$checkout}">{#link_checkout#}</a>
								</li>
								{if isset($box_CART)}{$box_CART}{/if}
								{if isset($box_WISHLIST)}{$box_WISHLIST}{/if}
							</ul>
						</div>
					</div>
					{if isset($navtrail)}{$navtrail}{/if}
					{if isset($main_content)}{$main_content}{/if}
					{if $bestseller}
						{if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}
					{/if}
				</div>
				{* ENDE col_full *}
			{else}
			
				<div class="col-md-18 push-md-6">
					<div class="navbar navbar-toggleable-md navbar-light bg-faded navbarContent" role="navigation">
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul class="navbar-nav d-flex w-100 justify-content-start"> 
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=7'}">{#link_contact#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$smarty.const.FILENAME_CONTENT|xtc_href_link:'coID=4'}">{#link_imprint#}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{$checkout}">{#link_checkout#}</a>
								</li>
								{if isset($box_CART)}{$box_CART}{/if}
								{if isset($box_WISHLIST)}{$box_WISHLIST}{/if}
							</ul>
						</div>
					</div>
					{if isset($navtrail)}{$navtrail}{/if}
					{if isset($main_content)}{$main_content}{/if}
					{if $bestseller}{if isset($box_BESTSELLERS)}{$box_BESTSELLERS}{/if}{/if}
				</div>
				{* ENDE col_right *}
				<div class="col-md-6 pull-md-18">
					{if isset($box_CATEGORIES)}{$box_CATEGORIES}{/if}
					{if isset($box_ADD_QUICKIE)}{$box_ADD_QUICKIE}{/if}
					{if isset($box_LOGIN)}{$box_LOGIN}{/if}
					{if isset($box_WHATSNEW)}{$box_WHATSNEW}{/if}
					{if isset($box_SPECIALS)}{$box_SPECIALS}{/if}
					{if isset($box_LAST_VIEWED)}{$box_LAST_VIEWED}{/if}
					{if isset($box_REVIEWS)}{$box_REVIEWS}{/if}
					{if isset($box_MANUFACTURERS)}{$box_MANUFACTURERS}{/if}
					{if isset($box_MANUFACTURERS_INFO)}{$box_MANUFACTURERS_INFO}{/if}
					{if isset($box_CURRENCIES)}{$box_CURRENCIES}{/if}
					{if isset($box_HISTORY)}{$box_HISTORY}{/if}
					{if isset($box_TRUSTEDSHOPS)}{$box_TRUSTEDSHOPS}{/if}
				</div>
				{* ENDE col_left *}
			{/if}
		</div>    
	</div>
	{* ENDE layout_content *}

	<footer>
		<div class="container">
			<div class="row">
				{if isset($box_CONTENT)}<div class="col-md-6">{$box_CONTENT}</div>{/if}
				{if isset($box_INFORMATION)}<div class="col-md-6">{$box_INFORMATION}</div>{/if}
				{if isset($box_MISCELLANEOUS)}<div class="col-md-6">{$box_MISCELLANEOUS}</div>{/if}
				{if isset($box_NEWSLETTER)}<div class="col-md-6">{$box_NEWSLETTER}</div>{/if}
			</div>
			<div class="copyright">{$smarty.const.TITLE} &copy; {$smarty.now|date_format:"%Y"}</div>
		</div>
	</footer>

	{if ($smarty.const.TRACKING_COUNT_ADMIN_ACTIVE == 'true' && $smarty.session.customers_status.customers_status_id == '0') || $smarty.session.customers_status.customers_status_id != '0'}
		{if $smarty.const.TRACKING_PIWIK_ACTIVE == 'true'}
			{piwik url=$smarty.const.TRACKING_PIWIK_LOCAL_PATH id=$smarty.const.TRACKING_PIWIK_ID goal=$smarty.const.TRACKING_PIWIK_GOAL}
		{/if}
		{if $smarty.const.TRACKING_GOOGLEANALYTICS_ACTIVE == 'true'}
			{googleanalytics account=$smarty.const.TRACKING_GOOGLEANALYTICS_ID}
		{/if}
		{if $smarty.const.TRACKING_FACEBOOK_ACTIVE == 'true'}
			{facebook id=$smarty.const.TRACKING_FACEBOOK_ID}
		{/if}
	{/if}
	{if $smarty.const.GOOGLE_CERTIFIED_SHOPS_MERCHANT_ACTIVE == 'true'}
		{googlecertificate subaccount=$smarty.const.GOOGLE_SHOPPING_ID account=$smarty.const.GOOGLE_TRUSTED_ID}
	{/if}
{/strip}